form .conteneur {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}
form h1.conteneur {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
form {
    width: 30%;
    height: 60%;
    margin: 80px auto;
    padding: 30px;
    border: 2px solid rgb(252, 120, 32);
    border-radius: 10px;
    background-color: rgb(243, 241, 240);
}
form label{
  font-weight: bold;
}
form input,form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}
form textarea {
    height: 120px;
    resize: vertical;
}
form button{
    width: auto;
    display: block;
    margin: 20px auto 0;
    padding: 12px 35px;
    background-color: rgb(241, 132, 68);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

