form .conteneur {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; 
  align-items: center;

} 
form {
    width: 30%;
    height: 60%;
    max-width: 700px;
    margin: 80px auto;
    padding: 30px;
    border: 2px solid rgb(255, 94, 0);
    border-radius: 10px;
    background-color: rgb(199, 155, 139);
    box-sizing: border-box;
}

