form .conteneur {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}
form h2.conteneur {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
}
form {
    width: 30%;
    height: 60%;
    margin: 80px auto;
    padding: 30px;
    border: 2px solid rgb(252, 120, 32);
    border-radius: 10px;
    background-color: rgb(243, 241, 240);
}


